@model IEnumerable <Analyst.Domain.Edgar.Datasets.EdgarDataset>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatasetsView</title>
</head>
<body>
    <div> 
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Year</th>
                    <th>Quarter</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quarter)
                    </td>
                    <td>
                        <a href="https://www.sec.gov/@Html.DisplayFor(modelItem => item.RelativePath)">Original file</a>
                    </td>
                    
                    <td>
                        
                        @Html.ActionLink("Get details", "GetDetails", new { id = item.Id })  |
                        @Html.ActionLink("Process", "Process", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
