@model IEnumerable <Analyst.Domain.Edgar.Datasets.EdgarDataset>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatasetsView</title>
</head>
<body>
    <div> 
        <a href="https://www.sec.gov/dera/data/financial-statement-and-notes-data-set.html">Financial Statement and Notes Data Sets</a>
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th rowspan="2">Id</th>
                    <th rowspan="2">Year</th>
                    <th rowspan="2">Quarter</th>
                    <th colspan="4">Process status</th>
                    <th rowspan="2">Actions</th>
                </tr>
                <tr>
                    <th>Submission</th>
                    <th>Tags</th>
                    <th>Dimensions</th>
                    <th>Numbers</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quarter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessedSubmissions)
                        /
                        @Html.DisplayFor(modelItem => item.TotalSubmissions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessedTags)
                        /
                        @Html.DisplayFor(modelItem => item.TotalTags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessedDimensions)
                        /
                        @Html.DisplayFor(modelItem => item.TotalDimensions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessedNumbers)
                        /
                        @Html.DisplayFor(modelItem => item.TotalNumbers)
                    </td>
                    <td>
                        <!--
                        <%= Html.ActionLink("LinkText", "Action", "Controller", new { id=string.Empty }, null) %>    
                        -->
                        @Html.RouteLink("Get details of dataset", "dsdetails", new { id = item.Id })  |
                        @Html.RouteLink("Process data set","processds", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
